@font-face {
    font-family: SharpGroteskSmBold20;
    src: url(font/SharpGroteskSmBold20.ttf);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-size: 50px;
    background-color: black;
    color: whitesmoke;
    font-family: SharpGroteskSmBold20;
    font-size: 20px;
    font-weight:lighter;
    letter-spacing: .025em;
    
}

body{
    background-color:#14181c;
    font-family: TiemposTextWeb-Regular,Georgia,serif;
    font-size: 1.15384615rem;
    line-height: 1;
    color: #9ab;
}

h2{
    display: flex;
    color: #9ab;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .075em;
    text-transform: uppercase;
    
}

h3{
    color: white;
    font-family: Graphik-Light-Web,sans-serif;
    font-weight: bold;

}

h5, label{
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .075em;
    margin-bottom: 1%;
    margin-top: 1%;
}


p{
    color: white;
    font-family: Graphik-Regular-Web,sans-serif;
    letter-spacing: .045em; 
    
}

.texto{
    font-size: 17px;
    margin-left: 20%;
    margin-top: 100px;
}

li{
    color: #9ab;
    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 1rem;
    letter-spacing: .075em;
}

hr{
    display: flex;
    justify-content: left;
    background-color: #9ab;
    width: 1000px;
    border: none;
    height: 1px;
    
}
  

.wikitable{
    background-color:#2c3440;
    border-radius: 10px;
    border: 1px solid #a2a9b1;
    padding-right: 1%;
    margin-right: 30px;
    margin-left: 10px;
    line-height: 150%;
}

.submeter{
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.titulo{
    margin-top: 3px;
    margin-left: 50px;
    display:inline-block;
    justify-content: left;
    
    padding-left: 0;
}

.formulario{
    display:block;
    padding-right: 2%;
    margin-top: 1px;
    margin-right: 50px;
    letter-spacing: .055em;
    line-height: 155%;
    font-size: 1rem;
    font-family: Graphik-Regular-Web,sans-serif;
}

.center{
    display: inline-block;
    margin-left: 1%;
    margin-right: auto;
    width: auto; 
}
.image{
    display: inline-block;
    margin-left: 2px;
    width: auto;
    border-radius: 10px;
    border: 1px solid #a2a9b1;
}
